@font-face {
    font-family: 'Neo Sans';
    src: url('../fonts/NeoSans-Medium.eot');
    src: url('../fonts/NeoSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSans-Medium.woff') format('woff'), url('../fonts/NeoSans-Medium.ttf') format('truetype'), url('../fonts/NeoSans-Medium.svg#NeoSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeoSansArabic';
    src: url('../fonts/../fonts/NeoSansArabic.eot');
    src: url('../fonts/NeoSansArabic.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansArabic.woff') format('woff'), url('../fonts/NeoSansArabic.ttf') format('truetype'), url('../fonts/NeoSansArabic.svg#NeoSansArabic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../fonts/NeoSansArabic_1.eot');
    src: url('../fonts/NeoSansArabic_1.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansArabic_1.woff') format('woff'), url('../fonts/NeoSansArabic_1.ttf') format('truetype'), url('../fonts/NeoSansArabic_1.svg#NeoSansArabic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../fonts/NeoSansArabic-Bold.eot');
    src: url('../fonts/NeoSansArabic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansArabic-Bold.woff') format('woff'), url('../fonts/NeoSansArabic-Bold.ttf') format('truetype'), url('../fonts/NeoSansArabic-Bold.svg#NeoSansArabic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../fonts/NeoSansArabic-Black.eot');
    src: url('../fonts/NeoSansArabic-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansArabic-Black.woff') format('woff'), url('../fonts/NeoSansArabic-Black.ttf') format('truetype'), url('../fonts/NeoSansArabic-Black.svg#NeoSansArabic-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../fonts/NeoSansArabic-Light.eot');
    src: url('../fonts/NeoSansArabic-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansArabic-Light.woff') format('woff'), url('../fonts/NeoSansArabic-Light.ttf') format('truetype'), url('../fonts/NeoSansArabic-Light.svg#NeoSansArabic-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic Ultra';
    src: url('../fonts/NeoSansArabic-Ultra.eot');
    src: url('../fonts/NeoSansArabic-Ultra.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansArabic-Ultra.woff') format('woff'), url('../fonts/NeoSansArabic-Ultra.ttf') format('truetype'), url('../fonts/NeoSansArabic-Ultra.svg#NeoSansArabic-Ultra') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neo Sans Arabic';
    src: url('../fonts/NeoSansArabic-Medium.eot');
    src: url('../fonts/NeoSansArabic-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/NeoSansArabic-Medium.woff') format('woff'), url('../fonts/NeoSansArabic-Medium.ttf') format('truetype'), url('../fonts/NeoSansArabic-Medium.svg#NeoSansArabic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Neo Sans Arabic' !important;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free" !important;
}

.fab {
    font-family: "Font Awesome 5 Brands" !important;
}


/* end fonts */

.container {
    padding: 0 36px !important;
}

.c-1 {
    color: #2BF19B;
}

.c-2 {
    color: #F18C2B;
}

.c-3 {
    color: #F12BDD;
}

.c-4 {
    color: #2BA2F1;
}


/* body */

body {
    background-color: #FFF;
}


/* end body */

header hr {
    margin-top: 0;
}

#top-nav {
    padding: 10px;
}

#top-nav .how-to-use span {
    font-size: 14px;
    color: #0A293E;
}

#top-nav .how-to-use i {
    font-size: 15px;
    color: #F18C2B;
    margin-right: 6px;
}


/* Timer Section */

#timer-section {
    margin-top: 88px;
    margin-bottom: 93px;
}

#timer-section .hero-text h2 {
    font-size: 37px;
    color: #707070;
    font-weight: 400;
}

#timer-section .hero-text p {
    font-size: 19px;
    color: #707070;
}

#timer-section .timer {
    margin-top: 93px;
}

#timer-section .timer .col-3 {
    width: 0px;
    height: 69.35px;
    background: transparent;
    border-left: 1px solid #cecece;
    â€
}

#timer-section .timer .col-3:last-child {
    border: none;
}

#timer-section .timer p {
    color: #C2C2C2;
    font-size: 16px;
}

#timer-section .timer span {
    font-size: 22px;
}

#social-media {
    margin-bottom: 55px;
}

#social-media p {
    color: #707070;
    font-size: 16px;
}

#social-media .social>a {
    height: 52px;
    width: 52px;
    background: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin: 5px;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.16));
    color: #000000;
    text-decoration: none;
    transition: all 0.5s ease;
}

#social-media .social a:hover {
    color: #FFF;
    background: #F18C2B;
}

#main-footer {
    background: #F5F5F7;
    height: 53px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#main-footer span {
    color: #C2C2C2;
    font-size: 18px;
}

@media only screen and (max-width: 375px) {
    #timer-section {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}